<a href="https://colab.research.google.com/github/SS-stats/HDSC-Introduction-to-Python-for-machine-learning/blob/master/HDSC_Stage_A.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import files


uploaded = files.upload()

In [ ]:
import pandas as pd
import io

df = pd.read_csv(io.BytesIO(uploaded['FoodBalanceSheets_E_Africa_NOFLAG.csv']),encoding = 'latin-1')
print(df)

In [ ]:
#Question 11
sum1 = df.groupby('Item')['Y2014'].sum()
sum2 = df.groupby('Item')['Y2017'].sum()
print(sum1)
print(sum2)

In [ ]:
#Question 12
m = df['Y2015'].mean()
s = df['Y2015'].std()
print("Mean and standard deviation of the whole dataset across the year 2015 are ", m, " and ", s, " respectively")

In [ ]:
#Question 13
a = df['Y2016'].isnull().sum()
print("Total no. of missing data in 2016: ", a)
b = a/df['Y2016'].count()*100
print("Percentage of data missing in 2016: ", b)

In [ ]:
#Question 14
print("The correlation of Element code with all the columns:\n")
df.corr()['Element Code']

In [ ]:
#Question 15 and 16
print("Data frame illustrating the sum of each element across all columns:\n")
df.groupby('Element').sum()

In [ ]:
#Question 17 and 18
print("Sum of each element in 2018:\n")
df.groupby('Element')['Y2018'].sum()

In [ ]:
#Question 19
#Could not answer due to time constraint
pd.set_option("display.max_rows", None, "display.max_columns", None)
df.groupby(['Area','Element'])['Y2018'].sum()

In [ ]:
#Question20
#Could not answer in the quiz because of time shortage
n = len(pd.unique(df['Area']))
  
print("No.of.unique countries :", n)